@model SportsStore.WebUI.Models.CartIndexViewModel

@{
    ViewBag.Title = "Store: Your Cart";
}

<style>
    #cartTable td {
        vertical-align: middle;
    }
</style>

<h2>Your Cart</h2>

<table class="table table-hover">
    <thead>
        <tr>
            <th>Product</th>
            <th class="text-center">Quantity</th>
            <th class="text-center">Price</th>
            <th class="text-center">Total</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var line in Model.Cart.Lines)
        {
            <tr>
                <td class="col-sm-8 col-md-6">
                    <div class="media">
                        <div class="media-body">
                            <h4 class="media-heading"><a href="#">@line.Product.Name</a></h4>
                            <span>Description: </span><span class="text-success"><strong>@line.Product.Description</strong></span>
                        </div>
                    </div>
                </td>
                <td class="col-sm-1 col-md-1" style="text-align: center">
                    <input type="email" class="form-control" id="exampleInputEmail1" value="@line.Quantity">
                </td>
                <td class="col-sm-1 col-md-1 text-center"><p>@line.Product.Price.ToString("c")</p></td>
                <td class="col-sm-1 col-md-1 text-center"><p>@string.Format("{0:C}", line.Product.Price * line.Quantity)</p></td>
                <td class="col-sm-1 col-md-1">
                    @using (Html.BeginForm("RemoveFromCart", "Cart"))
                    {
                        @Html.Hidden("ProductId", line.Product.ProductID);
                        @Html.HiddenFor(x => x.ReturnUrl)
                        <button type="submit" class="btn btn-danger">
                            <span class="glyphicon glyphicon-remove"></span> Remove
                        </button>
                    }
                </td>
            </tr>
        }
        
        <tr>
            <td><h3>Total</h3></td>
            <td class="text-right"><h3><strong>@Model.Cart.ComputeTotalValue().ToString("c")</strong></h3></td>
        </tr>
        <tr>
            <td>   </td>
            <td>   </td>
            <td>   </td>
            <td>
                <a class="btn btn-default" href="@Model.ReturnUrl"><span class="glyphicon glyphicon-shopping-cart"></span> Continue shopping</a>
            </td>
            <td>
                @if (Model.Cart.Lines.Count() > 0)
                {
                    @Html.ActionLink("Checkout now", "Checkout", null, new { @class = "btn btn-primary" })
                }
            </td>
        </tr>
    </tbody>
</table>
